.login-page, .signup-page {
    background-color: var(--color-green);
    /*max-width: 400px;*/
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0;
    width: 100%;
}

.login-page {
    border-radius: 0 0 0 150px;
}

.signup-page {
    border-radius: 0 0 150px 0;
}

.login-page span, .signup-page span {
    display: block;
    text-align: center;
}

@media (min-width: 1024px) {
    .login-page,
    .signup-page {
        max-width: 60vw;
        margin: auto;
        padding: 60px 50px;
        border-radius: 20px;
        box-shadow: 0 8px 30px rgba(0,0,0,0.3);
        background-color: var(--color-green);
    }
}
