.admin-card {
    background: white;
    border-radius: var(--radius);
    padding: 12px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--shadow);
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.admin-card .info {
    flex: 1;
    margin-left: 10px;
}

.admin-card p {
    margin: 0;
    font-size: var(--font-size-small);
    color: var(--color-dark-blue);
}

.admin-card .actions {
    display: flex;
    gap: 6px;

}
.admin-card .actions button {
    border: none;
    border-radius: var(--radius);
    font-size: var(--font-size-small);
    padding: 1rem 0.5rem;
    cursor: pointer;
}