.main-admin {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 300px;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 4rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

p, h1, h2, h3, h4 {
    color: var(--color-dark-blue);
}