.search-bar-user {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 150px;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 0.5rem;
    border: 1px solid var(--color-dark-blue);
    border-radius: 20px;
    overflow: hidden;
}

.search-input {
    flex: 1;
    min-width: 110px;
    border: none;
    outline: none;
    color: var(--color-dark-blue);
    font-size: var(--font-size-small);
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    border: none;
    background: transparent;
    color: var(--color-dark-blue);
    border: var(--color-dark-blue);
    cursor: pointer;
}

.search-icon {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 0;
}

.search-button:hover {
    background-color: var(--color-dark-blue);
    color: var(--color-green);
}
