.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--color-dark-blue);
    /*border-top: 1px solid var(--color-off-white);*/
    z-index: 1000;
}

.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.75rem;
    justify-content: space-around;
    padding: 0.6rem 0;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.05);
}

.nav-item {
    text-decoration: none;
    width: 24px;
    height: 24px;
    margin-bottom: 0.2rem;
    stroke-width: 1.8;
    transition: all 0.2s ease;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-off-white);
    width: 3.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s;
}

.nav-icon {
    width: 70%;
    height: 70%;
    stroke: var(--color-off-white);
    fill: none;
}

.nav-link:hover {
    color: var(--color-green);
}

.nav-link.active {
    color: var(--color-dark-blue);
    background: var(--color-green);
}

.nav-link.active .nav-icon {
    stroke: var(--color-dark-blue);
}