.navbar-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--color-dark-blue);
    /*border-top: 1px solid var(--color-off-white);*/
    z-index: 1000;
}

.navbar-desktop {
    display: none;
}

.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.75rem;
    justify-content: space-around;
    padding: 0.6rem 0;
    box-shadow: var(--shadow);
}

.nav-item {
    list-style: none;
    text-decoration: none;
    width: 24px;
    height: 24px;
    margin-bottom: 0.2rem;
    stroke-width: 1.8;
    transition: all 0.2s ease;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-off-white);
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-radius: 0.5rem;
    transition: background-color 0.2s;
}

.nav-icon {
    /*width: 70%;*/
    /*height: 70%;*/
    stroke: var(--color-off-white);
    fill: none;
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    line-height: 0;
    vertical-align: middle;
}

.nav-link:hover {
    color: var(--color-green);
}

.nav-link.active {
    color: var(--color-dark-blue);
    background: var(--color-green);
}

.nav-link.active .nav-icon {
    stroke: var(--color-dark-blue);
}

/* RESPONSIVE */
/* Desktop - tablette */
@media screen and (min-width: 700px)  {
    .navbar-mobile {
        display: none;
    }

    .navbar-desktop {
        position: static;
        width: 100%;
        height: auto;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-dark-blue);
        border-bottom: 3px solid var(--color-green);
        z-index: 10;
        margin-bottom: 1.5rem;
    }

    .nav-items-desktop {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        font-size: var(--font-size-small);
        justify-content: space-around;
        padding: 0.6rem 0;
        box-shadow: 0 -2px 8px rgba(0,0,0,0.05);
    }

    .nav-item-desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        color: var(--color-off-white);
        width: 24px;
        height: 24px;
        margin-bottom: 0.2rem;
        stroke-width: 1.8;
        transition: all 0.2s ease;
    }

    .nav-icon-desktop {
        width: 100%;
        height: 100%;
        stroke: var(--color-off-white);
        fill: none;
        margin-top: 1rem;
    }

    .nav-link-desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: var(--color-off-white);
        width: 20rem;
        height: 2.5rem;
        padding: 0 2rem;
        border-radius: 0.5rem;
        transition: background-color 0.2s;
    }
    .nav-link-desktop p {
        color: var(--color-off-white);
        font-size: var(--font-size-base);
    }

    .nav-link-desktop p:hover {
        color: var(--color-green);
    }

    .nav-link-desktop.active {
        color: var(--color-dark-blue);
        background: var(--color-green);
    }

    .nav-link-desktop.active .nav-icon {
        stroke: var(--color-dark-blue);
    }
    .nav-link-desktop.active p {
        color: var(--color-dark-blue);
    }
}