.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    gap: 2rem;
}

.logout-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.logout-icon {
    display: block;
    width: 1.1rem;
    height: 1.1rem;
    line-height: 0;
}

/* RESPONSIVE */
/* Tablette & desktop */
@media screen and (min-width: 700px) {
    .logout-icon {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 0;
    }
}