.search-bar-user {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 1rem;
    border: 1px solid var(--color-dark-blue);
    border-radius: 50px;
    overflow: hidden;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    color: var(--color-dark-blue);
}

.search-button {
    color: var(--color-dark-blue);
    border: var(--color-dark-blue);
    background-color: white;
    padding: 0.2rem 0;
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--color-dark-blue);
    color: var(--color-green);
}
