.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    gap: 2rem;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid var(--color-dark-blue);
    border-radius: 50px;
    overflow: hidden;
    background-color: var(--color-off-white);
}

.search-input {
    flex: 1;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: var(--color-off-white);
    color: var(--color-dark-blue);
}

.search-button {
    background-color: var(--color-off-white);
    color: var(--color-dark-blue);
    border: var(--color-dark-blue);
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.search-button:hover {
    background-color: var(--color-dark-blue);
    color: var(--color-green);
}
