.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--color-dark-blue);
    /*border-top: 1px solid var(--color-off-white);*/
    z-index: 10;
}

.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.75rem;
    justify-content: space-around;
    padding: 0.6rem 0;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.05);
}

.nav-items li {
    color: var(--color-off-white);
    text-decoration: none;
    width: 24px;
    height: 24px;
    margin-bottom: 0.2rem;
    stroke-width: 1.8;
    transition: all 0.2s ease;
}

.nav-icon {
    width: 100%;
    height: 100%;
    stroke: var(--color-off-white);
    fill: none;
}

/*TODO*/
/*.nav-item.active, .nav-item:hover {*/
/*    color: var(--color-green);*/
/*}*/
