.step-overview {
    display: flex;
    align-items: center;
    background-color: var(--color-off-white);
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    gap: 0.75rem;
    overflow: hidden;
}

.step-overview-photo {
    height: 100%;
    width: 50%;
    /*overflow: hidden;*/
}

.overview-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding-right: 1rem;
}

.overview-title {
    font-size: 1rem;
    color: var(--color-dark-blue);
    font-weight: 700;
    margin: 0.25rem 0;
}

.step-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 1rem;
    color: var(--color-dark-blue);
    margin-bottom: auto;
}

.step-order {
    width: 1rem;
    height: 1rem;
    background-color: var(--color-green);
    color: var(--color-dark-blue);
    font-weight: 600;
    padding: 0.25rem 0.25rem;
    border-radius: 50%;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* RESPONSIVE */
/* Tablette */
@media  (min-width: 640px) and (max-width: 1200px) {
    .step-overview {
        max-width: 60vw;
        margin: auto;
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .step-overview-photo {
        height: 100%;
        max-width: 35%;
    }
}
