.login-page {
    background-color: var(--color-green);
    /*max-width: 400px;*/
    padding: 40px 30px;
    border-radius: 0 0 150px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}