.track-overview {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    background-color: var(--color-off-white);
    border-radius: 15px;
    overflow: hidden;
    /*height: 10vh;*/
    /*width: 10vw;*/
}

.track-overview-photo {
    width: 60%;
    object-fit: cover;
}

.track-overview-infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: start;
    padding: 0.5rem;
    font-size: var(--font-size-small);
}

.overview-title {
    font-size: var(--font-size-base);
}