.one-track-page-main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.map-track-section {
    height: 55vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.track-steps-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}