.one-track-page-main {
    height: 100vh;
}

.display-manager {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.track-presentation-section {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 3rem;
}

.track-steps-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.map-track-section {
    height: 50vh;
}

/* RESPONSIVE */
/* Desktop */
@media (min-width: 1200px) {
    .display-manager {
        flex-direction: row;
    }

    .track-presentation-section {
        flex: 2;
        overflow-y: auto;
        padding-right: 1rem;
    }

    .track-steps-section {
        max-height: 10vh;
    }

    .map-track-section {
        flex: 1;
        height: 70vh;
        position: sticky;
        top: 0;
    }
}