.track-card {
    width: 60vw;
    background-color: var(--color-off-white);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: var(--shadow);
    color: var(--color-dark-blue);
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    font-size: var(--font-size-small);
    padding-bottom: 1rem;
}

.track-card-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 0 1.5rem 1rem;
    font-size: var(--font-size-small);
}

.card-title {
    font-size: 1.2rem;
    font-weight: 800;
    /*margin: 0.25rem 0 0;*/
    text-align: center;
    color: var(--color-off-white);
    padding: 0.3rem 0.8rem 0;
    background-color: var(--color-dark-blue);
}

.card-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.9rem;
    color: var(--color-dark-blue);
}

.info-location {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 0 1rem;
    height: 1.5rem;
}

.info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.25rem 0;
    height: 1.5rem;
}

.icon {
    width: 1rem;
    height: 1rem;
    color: var(--color-dark-blue);
    margin-bottom: auto;
}

.actions {
    padding: 0 2rem;
}

.card-title:hover {
    color: var(--color-green);
}

/* RESPONSIVE */
/* Tablette */
@media (min-width: 780px) {
    .track-card {
        width: 30vw;
    }

    .card-content {
        padding: 0 1.5rem 1rem;
        font-size: var(--font-size-small);
    }

    .card-title {
        font-size: var(--font-size-base);
        font-weight: 900;
        padding: 0.3rem 0.8rem 0;
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .track-card {
        width: 21vw;
    }

    .card-content {
        padding: 0 1.5rem 1rem;
        font-size: var(--font-size-small);
    }

    .card-title {
        font-size: var(--font-size-base);
        font-weight: 900;
        padding: 0.3rem 0.8rem 0;
    }

}