.track-card {
    width: 50vw;
    background-color: var(--color-off-white);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: var(--color-dark-blue);
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
}

.track-card-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 0 0.7rem 0.7rem;
}

.card-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0.25rem 0 0;
    color: var(--color-dark-blue);
}

.card-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.9rem;
    color: var(--color-dark-blue);
}

.info-location {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 0 1rem;
    height: 1.5rem;
}

.info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.25rem 0;
    height: 1.5rem;
}

.icon {
    width: 1rem;
    height: 1rem;
    color: var(--color-dark-blue);
    margin-bottom: auto;
}

/* tablette */
@media (min-width: 600px) {
    .track-card {
        width: 30vw;
    }
}

/* desktop */
@media (min-width: 1200px) {
    .track-card {
        width: 21vw;
    }
}