.forgot-password-page, .reset-password-page {
    background-color: var(--color-green);
    /*max-width: 400px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0;
    width: 100%;
}

.forgot-password-page {
    border-radius: 0 0 0 150px;
    padding: 9rem 1.5rem;
}

.reset-password-page {
    border-radius: 0 0 150px 0;
    padding: 5rem 1.5rem;
}

.forgot-password-page h1, .reset-password-page h1 {
    margin-bottom: 1.5rem;
}

@media (min-width: 1024px) {
    .forgot-password-page,
    .reset-password-page {
        max-width: 60vw;
        margin: auto;
        padding: 60px 50px;
        border-radius: 20px;
        box-shadow: 0 8px 30px rgba(0,0,0,0.3);
        background-color: var(--color-green);
    }
}
