.not-found-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-blue);
    color: var(--color-green);
    padding: 1rem;
    text-align: center;
}

.not-found-title {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: var(--color-green);
}

.not-found-text {
    font-size: 1.2rem;
    margin-bottom: 4rem;
    color: var(--color-green);
}

.home-link {
    text-decoration: none;
    color: var(--color-off-white);
    font-weight: 300;
    cursor: pointer;
}

.home-link:hover {
    color: var(--color-green);
}
