#root {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*text-align: center;*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
    padding-bottom: 70px;
}

main {
    flex: 1;
    width: 90%;
    margin: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.leaflet-container {
    width: 100%;
    height: 100%;
}

p, h1, h2, h3, h4 {
    color: var(--color-dark-blue);
}

p {
    font-size: var(--font-size-small);
}

.logo {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.logo:hover {
    transform: scale(1.1);
}

/* Responsive tablette et desktop */
@media screen and (min-width: 700px) {
    body {
        padding-bottom: 0;
    }

    .logo {
        width: 5rem;
        height: 5rem;
    }
}
