#root {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*text-align: center;*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
    padding-bottom: 70px;
}

main {
    flex: 1;
    width: 90%;
    margin: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.leaflet-container {
    width: 100%;
    height: 100%;
}

p, h1, h2, h3, h4 {
    color: var(--color-dark-blue);
}

p {
    font-size: var(--font-size-small);
}

/*TODO*/
/*.logo {*/
/*}*/
/*.logo:hover {*/
/*}*/
