* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

html, body {
    height: 100%;
}

body {
    /*padding-bottom: 70px;*/
    color: var(--color-dark-blue);
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
  font-size: 2.1rem;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
    font-size: 1.7rem;
}

/* Title block : TODO transformer en composant */
.title-block {
    text-align: center;
}
.title-block h2 {
    font-size: 1.15rem;
}
.title-block p {
    font-size: 0.85rem;
}

/* Error */
.error {
    width: 130%;
    text-align: center;
    color: #77081e;
    font-weight: bold;
    margin: 0.5rem 0;
}
.success {
    position: fixed;
    width: 100%;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    color: var(--color-dark-blue);
    z-index: 100;
    background-color: var(--color-green);
}

/* RESPONSIVE */
/* Tablette */
@media (min-width: 640px) {
    .title-block h1 {
        font-size: 5rem;
    }

    .title-block h2 {
        font-size: 1.3rem;
    }

    .title-block p {
        font-size: 1rem;
    }
}

/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff;*/
/*  }*/
